@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    <li>
        @Html.ActionLink("Sample", "Sample", "Home")
    </li>  
    <li>
        @Html.ActionLink("Custom engine", "Custom_Engine", "Home")
    </li>
</ul>